Django==1.8
django-bootstrap-themes==3.1.2
django-bootstrap3==5.4.0
django-registration-redux==1.1
oauthlib==2.0.1
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.7
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
